html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.center {
    display: flex;
    justify-content: center;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
}